/* 总样式 */
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 14px;
}
a{
	color: #3a3a3a;
	text-decoration: none;
}
a:hover{
	color: #ff9724;
}
img{
	display: block;
}

/* 结构样式 */
body>div{
	width: 1000px;
	margin: 0px auto;
}
section,body>div div{
	width: 100%;
}

/* 头部 */

header{
	height: 134px;
}
header div:first-child{
	height: 19px;
	margin-bottom: 1px;
}
header div:first-child li{
	float: left;
	height: 19px;
	margin-right: 20px;
	list-style: none;
}
header div:first-child li:first-child{
	margin-left: 10px;
}
header div.middle{
	height: 68px;
	margin-bottom: 1px;
}
header div.middle img{
	width: 630px;
	height: 68px;
	float: left;
	vertical-align: top;
}
header div.middle img:first-child{
	width: 164px;
	margin-right: 20px;
}
header div.middle img:last-child{
	width: 164px;
	margin-left: 22px;
}
header div:last-child{
	height: 44px;
	border-bottom: 1px solid #dadada;
	position: relative;
}
header div:last-child img{
	position: absolute;
	width: 209px;
	height: 22px;
	top: 12px;
	left: 5px;
}
header div:last-child p{
	width: 250px;
	margin-left: 249px;
}
header div:last-child p span{
	margin-right: 17px;
}
header div:last-child p span i{
	margin-left: 14px;
}
header div:last-child p span:first-child{
	cursor: pointer;
}
header div.header_bottom p span:last-child{
	margin-right: 0px;
}
nav{
	height: 280px;
}
nav div:first-child{
	height: 103px;
}
nav div.middle{
	height: 67px;
}
nav div:last-child{
	height: 110px;
}
section.top_news{
	height: 729px;
	border-top: #83b7df 1px dotted;
}
section.top_news div:first-child{
	width: 345px;
	height: 100%;
	float: left;
}
section.top_news div:last-child{
	width: 655px;
	height: 100%;
	float: left;
}
div.adv{
	height: 80px;
	margin-bottom: 20px;
}
div.adv_top{
	height: 100px;
}
div.adv_small{
	height: 70px;
	margin-bottom: 30px;
}
section.middle_news{
	height: 1036px;
	margin-bottom: 15px;
}
section.middle_news section{
	float: left;
	width: 316px;
	height: 100%;
	margin-right: 26px;
}
section.middle_news section:last-child{
	margin-right: 0px;
}
section.pic_news{
	height: 180px;
	margin-bottom: 30px;
}
section.sec_news{
	height: 1580px;
	margin-bottom: 20px;
}
section.sec_news section{
	float: left;
	width: 315px;
	height: 100%;
	margin-right: 27px;
}
section.sec_news section:last-child{
	margin-right: 0px;
	margin-left: 1px;
}
section.bottom_news{
	height: 115px;
	margin-bottom: 35px;
}
section.world_news{
	height: 283px;
}
footer{
	width: 100%;
	height: 227px;
}
footer section:first-child{
	width: 100%;
	height: 90px;
}
footer section:last-child{
	width: 100%;
	height: 137px;
}
/* 字体样式 */

header a,header p{
	font-size: 12px;
	vertical-align: top;
}
header a{
	color: #999;
}
header p{
	color: #1c79be;
}
header p a{
	color: #1c79be;
	margin-right: 17px;
}
header div:last-child p span i{
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
}
header a:hover{
	color: #ff9724;
}
header div:first-child a{
	line-height: 19px;	
}
header div:last-child p{
	line-height: 43px;
}
p.company_name_font{
	color: #1f7bbe;
}
span#homepage:hover{
	color: #ff9724;
}
i#shares{
	font-weight: bold;
	font-style: normal;
}
/* 背景样式 */
header div:first-child{
	background: #f1f1f1;
}
header div:last-child{
	background: #f1f1f1;
}

/* 动画样式 */
header div p{
	opacity: 0;
	animation: myopacity 1.5s infinite;
}
@keyframes myopacity{
	form {opacity: 0;}
	to{opacity: 1;}
}
