/* 总样式 */
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 14px;
}
a{
	color: #3a3a3a;
	text-decoration: none;
}
a:hover{
	color: #ff9724;
}
img{
	display: block;
}

/* 结构样式 */
body>div{
	width: 1000px;
	margin: 0px auto;
}
section,body>div div{
	width: 100%;
}

/* 头部 */

header{
	height: 134px;
}
header div:first-child{
	height: 19px;
	margin-bottom: 1px;
}
header div:first-child li{
	float: left;
	height: 19px;
	margin-right: 20px;
	list-style: none;
}
header div:first-child li:first-child{
	margin-left: 10px;
}
header div.middle{
	height: 68px;
	margin-bottom: 1px;
}
header div.middle img{
	width: 630px;
	height: 68px;
	float: left;
	vertical-align: top;
}
header div.middle img:first-child{
	width: 164px;
	margin-right: 20px;
}
header div.middle img:last-child{
	width: 164px;
	margin-left: 22px;
}
header div:last-child{
	height: 44px;
	border-bottom: 1px solid #dadada;
	position: relative;
}
header div:last-child img{
	position: absolute;
	width: 209px;
	height: 22px;
	top: 12px;
	left: 5px;
}
header div:last-child p{
	width: 200px;
	margin-left: 249px;
}
header div:last-child p span{
	margin-right: 14px;
}
header div:last-child p span span a{
	display: inline-block;
	width: 77px;
	margin-left: 22px;
	margin-right: 0px;
}
header div:last-child>p.nav_mail{
	position: absolute;
	width: 271px;
	height: 26px;
	top: 10px;
	right: 257px;
	margin: 0px;
}
header div:last-child p.nav_mail span{
	vertical-align: top;
	cursor: pointer;
	margin-right: 26px;
}
header div:last-child p.nav_mail span:first-child{
	width: 75px;
	height: 26px;
	float: left;
	margin-right: 98px;
}
header div:last-child p.nav_mail span:first-child span{
	position: absolute;
	width: 537px;
	height: 87px;
	top: 35px;
	left: -21px;
	border:solid 1px #dbdbdb;
	border-top: none;
	background: #f1f1f1;
}
header div:last-child p.nav_mail span:last-child{
	margin-right: 0px;
}
header div:last-child p.nav_mail span i{
	float: right;
	width: 9px;
	height: 5px;
	margin-top: 11px;
	background: url(images/header/4.jpg) no-repeat;
}
header div form{
	position: absolute;
	width: 230px;
	height: 26px;
	right: 1px;
	top: 10px;
	line-height: 26px;
}
header div form a{
	margin-right: 6px;
}
header div form input[type]{
	width: 165px;
	height: 12px;
	padding: 6px 28px 6px 5px;
	border: 1px solid #1a71b8;
	vertical-align: top;
}
header div form i{
	position: absolute;
	width: 16px;
	height: 16px;
	right: 9px;
	top: 5px;
	z-index: 2;
	background: url(images/header/search_icon.png);
}
nav{
	height: 280px;
}
nav div:first-child{
	height: 103px;
}
nav div.middle{
	height: 67px;
}
nav div:last-child{
	height: 110px;
}
section.top_news{
	height: 729px;
	border-top: #83b7df 1px dotted;
}
section.top_news div:first-child{
	width: 345px;
	height: 100%;
	float: left;
}
section.top_news div:last-child{
	width: 655px;
	height: 100%;
	float: left;
}
div.adv{
	height: 80px;
	margin-bottom: 20px;
}
div.adv_top{
	height: 100px;
}
div.adv_small{
	height: 70px;
	margin-bottom: 30px;
}
section.middle_news{
	height: 1036px;
	margin-bottom: 15px;
}
section.middle_news section{
	float: left;
	width: 316px;
	height: 100%;
	margin-right: 26px;
}
section.middle_news section:last-child{
	margin-right: 0px;
}
section.pic_news{
	height: 180px;
	margin-bottom: 30px;
}
section.sec_news{
	height: 1580px;
	margin-bottom: 20px;
}
section.sec_news section{
	float: left;
	width: 315px;
	height: 100%;
	margin-right: 27px;
}
section.sec_news section:last-child{
	margin-right: 0px;
	margin-left: 1px;
}
section.bottom_news{
	height: 115px;
	margin-bottom: 35px;
}
section.world_news{
	height: 283px;
}
footer{
	width: 100%;
	height: 227px;
}
footer section:first-child{
	width: 100%;
	height: 90px;
}
footer section:last-child{
	width: 100%;
	height: 137px;
}
/* 字体样式 */

header a,header p{
	font-size: 12px;
	vertical-align: top;
}
header a{
	color: #999;
}
header a:hover{
	color: #ff9724;
}
header p{
	color: #1a81ce;
}
header p a{
	color: #1c79be;
	margin-right: 17px;
}
header div:last-child p i{
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
	vertical-align: top;
}
header div:first-child a{
	line-height: 19px;	
}
header div:last-child p{
	line-height: 45px;
}
header div:last-child p span span a{
	color: #71869e;
	line-height: 27px;
}
header div:last-child p.nav_mail span{
	line-height: 24px;
}
header div:last-child p.nav_mail span:hover{
	color: #ff9724;
}
header div form a{
	color: #1d76ba;
	font-size: 12px;
	line-height: 26px;
	vertical-align: top;
}
/* 背景样式 */
header div:first-child{
	background: #f1f1f1;
}
header div:last-child{
	background: #f1f1f1;
}
header div:last-child p:last-child span{
	line-height: 24px;
	color: #6f86af;
}

/* 动画样式 */
header div p.anime{
	opacity: 0;
	animation: myopacity 1.5s infinite;
}
@keyframes myopacity{
	form {opacity: 0;}
	to{opacity: 1;}
}
